* {
  padding: 0;
  margin: 0;
}

/* navigation bar */

nav {
  width: 100vw;
  height: 48px;
}

.bottom-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
}

.logo {
  height: 48px;
  width: 106px;
  background-image: url(/src/tnw-logo.png);
  background-color: black;
  background-size: 66px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-icons {
  display: flex;
}

.search {
  background-image: url(/src/search.svg);
  background-size: 34%;
  background-position: center;
  background-repeat: no-repeat;
}

.burger {
  background-image: url(/src/menu.svg);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.search,
.burger {
  height: 48px;
  width: 48px;
  border-left: 1px solid #f4f4f4;
}